@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@import "tailwindcss";

.custom-kaushan {
  font-family: "Kaushan Script" !important;
}

.custom-source {
  font-family: "Source Sans Pro";
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #555454;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #0e0e0e8d;
}

.crollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.rsw-toolbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  background: none !important;
}

.rsw-toolbar button[title="HTML mode"] {
  display: none;
}

.rsw-ce {
  height: 55vh !important;
  max-height: 100% !important;
}

.rsw-btn {
  color: white !important;
}

.rsw-btn:hover {
  color: black !important;
}

.rsw-dd option {
  color: black !important;
}

/* If you're using Tailwind, or styles are missing, add this manually */
.ql-editor h1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.ql-editor h2 {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.ql-editor ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}
.ql-editor ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}
.ql-editor li {
  margin-bottom: 0.5rem;
}

/* Add more as needed */
